/* Box Model CSS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* width 300px */
    /* border + padding 54px */
    /* content-area = 300px - 54px = 246px */
    /* height 150px */
    /* border + padding 54px */
    /* content-area = 150px - 54px = 96px */
}
p {
    background-color: black;
    color: white;
    width: 300px;
    height: 150px;
    padding: 25px;
    border: 2px solid red;
    margin: 50px;
}

div {
    width: 500px;
    height: 500px;
    border: 2px solid green;
    margin: 10px auto;
}